{% load static %}
{% load django_bootstrap5 %}
<html lang="es">
    <head>
        <link rel="stylesheet" href="{% static 'css/homepage/headerandfooterpagehome.css' %}">
    </head>
    <footer class="fondofooter text-white pt-5 pb-4 estatic">
        <div class="container text center text-md-start">
            <div class="row text-center text-md-start">
              
                
        
                <hr class="mb-4">
                <div class="text-center mb-2">
                    <p class="textfooter">
                        copyright 2023 Todos Los Derechos Reservados          
                    </p>
                </div>
            </div>
        </div>
    </footer>
</html>
{% include 'partials/scripts.html' %}
